#login .sso_header{position:relative;width:100%;height:360px;background-color:#00b38a;}
#login .logo{position: absolute;display: block;width:112px;height:42px;background: url(/img/logo_bai.png) no-repeat;background-size:100% 100%;z-index: 999;top: 76px;left: 200px;}
/*headerend*/
#login .content_box{
	position:relative;
	margin: -205px auto 60px;
	width: 552px;
	padding: 62px 70px 68px 78px;
	background: #FFFFFF;
	border: 1px solid #dce1e6;
	display: table;
	border-radius: 2px;
}
 #login .left_area{
	width: 290px;
}
#login .form_header{
	position: relative;
	height: 33px;
	margin-bottom: 29px;
	border-bottom: 1px solid #dce1e6;
}
#login .form_header li{
	height: 33px;
	font-size: 16px;
	ine-height: 24px;
	width: 50%;
	text-align: center;
}
#login .form_header li.active{
	color: #00B38A;
}
#login .tab_active{
	position:absolute;
	bottom:-1px;left:0;
	height:1px;
	background:#00B38A;
	width: 50%;
}
#login .tab_active:before,.tab_active:after{
	z-index: 2;
	position: relative;
	content: '';
	top: -23px;
	left: 50%;
	margin-left:-3px ;
	width: 0;
	height: 0;
	line-height: 0;
	border: 6px solid transparent;
	border-bottom-color:#00b38a;
}
#login .tab_active:after{
	z-index: 3;
	top: -11px;
	width: 0;
	height: 0;
	line-height: 0;
	border: 6px solid transparent;
	border-bottom-color:#FFFFFF;
}

#login .input_item,.input_group {
 	position: relative;
 	box-sizing: border-box;
 	width: 100%;
 	margin-top: 20px;
 }
 #login input{
 	box-sizing: border-box;
 	width: 290px;
 	height: 44px;
 	line-height: 44px;
 }
 #login .input_white{
 	box-sizing: border-box;
 	border:0 ;
 	border-bottom: 1px solid #ededed;
 	
 }
 #login  .input_tips{
 	display: block;
 	margin-top: 5px;
 	color: #fd5f39;
 	font-size: 12px;
 	line-height: 18px;
 }
 #login .forgot_pwd{
	color: #00b38a;
	display: block;
	float: right;
	margin-top: -5px;
}
#login .btn_green{
	border: none;
	color: white;
	font-size: 18px;
	background: #00b38a;
	border-radius:2px ;
}
#login .area_code{
	position: absolute;
	left:0;
	float: left;
	display: block;
	line-height: 44px;
	width: 50px;
	height: 44px;
	padding-right: 22px;
	z-index: 2;
}
#login .area_code+input{padding-left:72px;}
#login .input_group .input_white{
	
	padding-right: 80px;
	
}
#login .input_group .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 70px;
	border: none;
	border-bottom: 1px solid #ededed;
	background: white;
	z-index: 2;
	color:#00b38a;
}
#login .divider{
	margin: 0 52px;
	height: 274px;
	width: 0;
	border-left: 1px dashed #ededed;
	position: relative;
}
#login .divider:after{
	content: "or";
	z-index: 3;
	position: absolute;
	top: 50%;
	left:-8px;
	background: white;
	color:#ededed;
	padding: 2px;
}
#login .right_area{
	width: 150px;
	padding-top: 26px;
	color: #777777;
}
#login .right_area h5{
	margin: 44px 0 8px;
	color: #555555;
	font-size: 14px;
	font-weight:400 ;
}
#login .register_now{
	display: inline-block;
	padding-right:23px ;
	line-height: 22px;
	font-size: 16px;
	color:#00b38a;
	background: url(/img/icon-arrow-right_ea91505.png) no-repeat right center;
	
}
#login .register_now:hover{
	text-decoration:underline ;
}
#login .vender_login{
	margin-top: 12px;
	text-align: center;
}
#login .vender_login li:first-child{
	margin-left: 0;
}
#login .vender_login li{
	float: left;
	margin-left: 22px;
}
#login .vender_icon{
	display: block;
	width: 20px;
	height: 16px;
}
#login .icon_sina{background: url(/img/icon-sina_e161002.png) no-repeat;}
#login .icon_wechat{background: url(/img/icon-wechat_823d4eb.png) no-repeat;}
#login .icon_qq{background: url(/img/icon-tencent_c85c20a.png) no-repeat;}
#login .icon_baidu{background: url(/img/icon-baidu_d1ad2b6.png) no-repeat;}

.ant-notification {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  position: fixed;
  z-index: 1010;
  width: 384px;
  max-width: calc(100vw - 32px);
  margin-right: 24px;
}
.ant-notification-topLeft,
.ant-notification-bottomLeft {
  margin-right: 0;
  margin-left: 24px;
}
.ant-notification-topLeft .ant-notification-fade-enter.ant-notification-fade-enter-active,
.ant-notification-bottomLeft .ant-notification-fade-enter.ant-notification-fade-enter-active,
.ant-notification-topLeft .ant-notification-fade-appear.ant-notification-fade-appear-active,
.ant-notification-bottomLeft .ant-notification-fade-appear.ant-notification-fade-appear-active {
  -webkit-animation-name: NotificationLeftFadeIn;
          animation-name: NotificationLeftFadeIn;
}
.ant-notification-close-icon {
  font-size: 14px;
  cursor: pointer;
}
.ant-notification-notice {
  position: relative;
  margin-bottom: 16px;
  padding: 16px 24px;
  overflow: hidden;
  line-height: 1.5;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.ant-notification-notice-message {
  display: inline-block;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 24px;
}
.ant-notification-notice-message-single-line-auto-margin {
  display: block;
  width: calc(384px - 24px * 2 - 24px - 48px - 100%);
  max-width: 4px;
  background-color: transparent;
  pointer-events: none;
}
.ant-notification-notice-message-single-line-auto-margin::before {
  display: block;
  content: '';
}
.ant-notification-notice-description {
  font-size: 14px;
}
.ant-notification-notice-closable .ant-notification-notice-message {
  padding-right: 24px;
}
.ant-notification-notice-with-icon .ant-notification-notice-message {
  margin-bottom: 4px;
  margin-left: 48px;
  font-size: 16px;
}
.ant-notification-notice-with-icon .ant-notification-notice-description {
  margin-left: 48px;
  font-size: 14px;
}
.ant-notification-notice-icon {
  position: absolute;
  margin-left: 4px;
  font-size: 24px;
  line-height: 24px;
}
.ant-notification-notice-icon-success {
  color: #52c41a;
}
.ant-notification-notice-icon-info {
  color: #1890ff;
}
.ant-notification-notice-icon-warning {
  color: #faad14;
}
.ant-notification-notice-icon-error {
  color: #f5222d;
}
.ant-notification-notice-close {
  position: absolute;
  top: 16px;
  right: 22px;
  color: rgba(0, 0, 0, 0.45);
  outline: none;
}
a.ant-notification-notice-close:focus {
  text-decoration: none;
}
.ant-notification-notice-close:hover {
  color: rgba(0, 0, 0, 0.67);
}
.ant-notification-notice-btn {
  float: right;
  margin-top: 16px;
}
.ant-notification .notification-fade-effect {
  -webkit-animation-duration: 0.24s;
          animation-duration: 0.24s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.ant-notification-fade-enter,
.ant-notification-fade-appear {
  opacity: 0;
  -webkit-animation-duration: 0.24s;
          animation-duration: 0.24s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.ant-notification-fade-leave {
  -webkit-animation-duration: 0.24s;
          animation-duration: 0.24s;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.ant-notification-fade-enter.ant-notification-fade-enter-active,
.ant-notification-fade-appear.ant-notification-fade-appear-active {
  -webkit-animation-name: NotificationFadeIn;
          animation-name: NotificationFadeIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.ant-notification-fade-leave.ant-notification-fade-leave-active {
  -webkit-animation-name: NotificationFadeOut;
          animation-name: NotificationFadeOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}



