.module-tabs{margin: 52px 0 14px;border-bottom: 1px solid #E8E8E8;}
.module-tabs li{display: inline-block;padding: 14px 0;margin-right: 58px;font-size: 16px;cursor: pointer;}
.module-tabs li.cursor{border-bottom:2px solid #333333;} 