.look_more{display: block;width: 387px;height: 42px;border:1px solid #00B38A;margin: 16px auto 0;font-size:16px;line-height: 42px;text-align: center;
	color: #00B38A;}
.look_more:hover{background: #00B38A;color: white;}